[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
django-debug-toolbar = "*"
django-ajax-datatable = "*"
python-decouple = "*"
dj-database-url = "*"
django-s3-folder-storage = "*"
collectfast = "*"
psycopg2-binary = "*"

[dev-packages]
pytest-django = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
