{% extends 'base/base.html' %}
{% block content %}
    <table id="manutencao" class="table table-striped dt-responsive nowrap" aria-label="Tabela de manutenção" style="width:100%">
        <thead>
            <tr>
                <th>data</th>
                <th>setor</th>
                <th>fornecedor</th>
                <th>serviço</th>
                <th>descrição</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2022-06-19</td>
                <td>motor</td>
                <td>volvo</td>
                <td>revisão</td>
                <td>completa com troca de óleo</td>
            </tr>
            <tr>
                <td>2022-07-15</td>
                <td>casco</td>
                <td>Lauro Silva</td>
                <td>pintura</td>
                <td>tinta cooper coat</td>
            </tr>
            <tr>
                <td>2022-06-28</td>
                <td>vela</td>
                <td>Serginho</td>
                <td>reparo</td>
                <td>troca da capa UV da genoa</td>
            </tr>
        </tbody>
    </table>
{% endblock content %}

{% block extra_javascript %}
<script type="text/javascript" class="init">
    $(document).ready(function () {
        $("#manutencao").DataTable({
            language: {
                url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json"
            },
            columnDefs: [
                {
                    targets: 0,
                    render: DataTable.render.datetime('D MMM YYYY'),
                },
            ],
        });
    });
</script>
{% endblock extra_javascript %}