{% extends 'base/base.html' %}
{% block extra_head %}
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.bootstrap5.min.css">
    <!-- DT Responsive -->    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">
{% endblock extra_head %}
{% block content %}
    <div class="mb-2">
        {% if messages %}
            {% for message in messages %}
                <div class="{{ message.tags }} mb-2 py-1">
                    {{ message }}
                </div>     
            {% endfor %}
        {% endif %}
    </div>
    <div>
        <a href="{% url 'manutencao:evento_insert' %}?next={{ request.path }}" class="btn btn-outline-success btn-sm mb-3">
            Incluir
        </a>
    </div>
    <table id="manutencao" class="table table-striped dt-responsive nowrap" aria-label="Tabela de manutenção" style="width:100%">
        <thead>
            <tr>
                <th>data</th>
                <th>setor</th>
                <th>serviço</th>
                <th>fornecedor</th>
                <th>valor</th>
                <th>descrição</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for evento in eventos %}
                <tr>
                    <td>{{ evento.date | date:'d m y' }}</td>
                    <td>{{ evento.setor }}</td>
                    <td>{{ evento.servico }}</td>
                    <td>{{ evento.fornecedor }}</td>
                    <td>R$ {{ evento.valor }}</td>
                    <td>{{ evento.descricao }}</td>
                    <td>
                        <div class="text-center">
                            <a href="{% url 'manutencao:evento_edit' evento.id %}"
                            class="btn btn-outline-primary py-0"
                            id="edit-{{evento.id }}"
                            >
                            <em class="bi-pencil"></em>
                            </a>
                            <a href="{% url 'manutencao:evento_delete' evento.id %}"
                            class="btn btn-outline-danger py-0"
                            id="delete-{{ evento.id }}"
                            >
                            <em class="bi-trash"></em>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block extra_javascript %}
<!-- DataTables -->
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<!-- DT Responsive -->    
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/responsive.bootstrap5.min.js"></script>

<script type="text/javascript" class="init">
    $(document).ready(function () {
        $("#manutencao").DataTable({
            language: {
                url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json"
            },
            columnDefs: [
                { responsivePriority: 1, targets: 0 },
                { responsivePriority: 2, targets: -1 },
                { orderable: false, targets: -1 },
            ],
        });
    });
</script>
{% endblock extra_javascript %}