{% extends 'base/base.html' %}
{% load static %}
{% block content %}
        <div class="row">
            <div class="col col-md-9 col-lg-7 col-xl-6 mx-auto">
                <div class="row my-3 align-items-center">
                    <div class="col-4">
                        <img class="img-fluid" src={% static "images/Together-logo.png" %} alt="Together" height="300" />
                    </div>
                    <div class="col-8">
                        <h1 class="">Cadastro de Usuário</h1>
                    </div>
                </div>
                <form method="post" action="{% url 'base:register' %}">
                    {% csrf_token %}
                    <div class="mb-2">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-danger mb-1 py-1">{{ message }}</div>     
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" name="first_name" id="name" maxlength="32" value="{{ first_name }}" required />
                        <label for="name">Primeiro Nome</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="email" class="form-control" name="email" id="email" maxlength="254" value="{{ email }}" required />
                        <label for="email">Email</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="password" class="form-control" name="password1" id="password1" maxlength="128" required />
                        <label for="password1">Senha</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="password" class="form-control" name="password2" id="password2" maxlength="128" required />
                        <label for="password2">Repita a Senha</label>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <button class="w-100 btn btn-lg btn-primary" type="submit">
                                Cadastrar
                            </button>
                        </div>
                        <div class="col">
                            <a href="{% url 'base:list_user' %}" class="w-100 btn btn-lg btn-danger">
                                Cancelar
                            </a>
                        </div> 
                    </div>
                    
                </form>
            </div>
        </div>
{% endblock content %}

{% block extra_javascript %}

{% endblock extra_javascript %}